*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/src/main/java/com/adriencadet/wanderer/SecretApplicationConfiguration.java

app/src/release/res/values/secrets.xml

app/src/debug/res/values/secrets.xml
